@import "./../../../variables";

.links-list {
	@media (max-width: $tablet) {
		border-bottom: 1px solid $dark-secondary;
		padding-bottom: 10px;
	}

	&__item {
		line-height: 150%;
		font-size: 18px;
	}
}
