@import "./../../variables";

.order-page {
	padding-right: 20px;
	padding-left: 20px;
	@media (min-width: $desktop) {
		width: 1100px;
		margin: 0 auto;
	}

	&__title {
	}
}

.orders-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__item {
		padding: 40px 30px;
		background-color: $dark-secondary;
		border-radius: 20px;
	}

	&__title {
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid $neutral;
	}
}

.order-items-list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__item {
		display: flex;
		justify-content: space-between;
	}
}
