@import "./../../variables";

.sorting-select {
	font-size: 16px;
	appearance: none;
	padding: 5px 100px 5px 20px;
	border: none;
	border-radius: 5px;
	background-color: $light-primary;

	@media (max-width: $tablet) {
		padding-right: 20px;
	}
}
