@import "../../variables";

.cart-page {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	border-radius: 10px;
	color: $dark;

	@media (min-width: $desktop) {
		// background-color: $dark-secondary;
		width: 1100px;
		margin: 0 auto;
		padding-left: 40px;
		padding-right: 40px;
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&__inner {
		@media (min-width: $desktop) {
			width: 500px;
		}
	}

	&__btns-wrap {
		display: flex;
		justify-content: space-between;
		text-decoration: underline;
		margin-bottom: 20px;
		color: $dark;
	}

	&__back-btn {
		text-decoration: underline;
	}

	&__clear-btn {
		color: $dark;
	}

	&__title {
		padding: 0;
	}

	&__list {
		margin-bottom: 40px;
	}

	&__checkout-btn {
		background-color: $accent;
		padding: 10px 60px;
		// width: 200px;
		border-radius: 25px;
	}
}

.cart-item {
	margin-bottom: 20px;
	border: 1px solid $neutral;
	// background-color: $dark-secondary;
	border-radius: 10px;
	padding: 20px 10px;

	@media (min-width: $desktop) {
		padding: 40px 20px;
	}

	&__info-wrap {
		display: flex;
		margin-bottom: 10px;
	}

	&__img {
		width: 100%;
	}

	&__btns-wrap {
		display: flex;
		justify-content: space-between;
	}
	&__delete-btn {
		text-decoration: underline;
		color: $dark;
	}

	&__img-wrap {
		flex-shrink: 0;
		// background-color: $dark-secondary;
		width: 70px;
		// height: 100px;
		margin-right: 20px;
	}

	&__title {
		margin-bottom: 10px;
		width: 100%;
	}
}

.counter {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	width: 70px;
	border: none;

	button {
		color: $dark;
	}
}

.price-block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
