@import "./../../../variables";

.cart-item {
	display: grid;
	grid-template-areas:
		"img text delete"
		"img text ."
		". counter counter";
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto auto;
	gap: 20px;
	background-color: $light-primary;
	border: 1px solid $light-secondary;
	border-radius: 5px;
	padding: 30px 30px;

	@media (max-width: $tablet) {
		padding: 30px 10px;
		padding-top: 50px;
	}

	&__img {
		width: auto;
		max-width: 100px;
		grid-area: img;

		@media (max-width: $tablet) {
			width: 50px;
		}
	}

	&__delete-btn {
		text-decoration: underline;
		color: $dark-primary;
		width: 30px;
		height: 30px;
		background-color: $dark-secondary;
		border-radius: 3px;
		display: flex;
		align-items: center;
		justify-content: center;

		grid-area: delete;
		// grid-column: 3 / 4;
		// grid-row: 1 / 2;
		margin-left: auto;

		svg {
			width: 15px;
			height: 15px;
			path {
				stroke: $light-primary;
				stroke-width: 4px;
			}
		}
	}

	&__text-wrap {
		justify-content: space-between;
		width: 100%;
		font-size: 16px;
		// max-height: max-content;

		grid-area: text;
		// grid-column: 2 / 3;
		// grid-row: 1 / 2;

		@media (max-width: $tablet) {
			display: flex;
			flex-direction: column;
			justify-content: start;
		}
	}

	&__title {
		margin-bottom: 10px;
		width: 100%;
		font-weight: 400;
	}

	&__price {
		display: grid;
		gap: 5px;
		font-size: 18px;
	}

	&__price-count {
		font-weight: 400;
		font-size: 16px;
		color: $dark-secondary;
	}

	&__total {
		font-size: 20px;
	}

	&__counter {
		margin-left: auto;
		grid-area: counter;
	}
}
