@import "../../variables";

.header {
	position: fixed;
	width: 100%;
	background-color: $dark-primary;

	z-index: 4100;
	top: 0;
	left: 0;
	box-shadow: $shadow;
	padding: 10px 20px;
	color: $light-primary;

	@media (max-width: $tablet) {
		// position: fixed;
		padding: 5px 10px;
		top: auto;
		bottom: 0;
		box-shadow: rgba(255, 255, 255, 0.055) 0px 15px 30px 20px;
	}

	&--to-top {
		@media (max-width: $tablet) {
			bottom: auto;
			top: 0;
		}
	}

	&__search-wrap {
		display: flex;
		align-items: center;
	}

	&__nav {
		display: grid;
		grid-template-columns: repeat(5, auto);
		justify-content: space-between;
		align-items: center;
		gap: 10px;
		max-width: 1400px;
		margin: 0 auto;

		@media (max-width: $tablet) {
			align-items: baseline;
		}
	}
}
