@import "./../../variables";

.product-slider {
	&__slider-wrap {
		position: relative;
		height: 300px;
		background-color: $light-primary;
		grid-column: 1 / 2;
		grid-row: 1 / 4;
	}

	&__img-wrap {
		margin: 0 auto;
		// background-color: red;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 250px;
		max-width: 320px;
	}

	&__img {
		// margin: 0 auto;
		// max-height: 200px;
		max-height: 100%;
	}

	&__colors-title {
		margin-bottom: 10px;
	}

	&__colors-list {
		display: flex;
		margin-bottom: 20px;
	}

	&__color {
		margin-right: 20px;
	}

	&__color-btn {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;

		&--active {
			border: 2px solid red;
		}
	}
}
