@import "../../variables";

.login-popup {
	position: absolute;
	z-index: 3000;

	input {
		font-size: 16px;
	}
	&__overlay {
		z-index: 1000;
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		left: 0;
		top: 0;
		// background-color: $dark-primary;
		background-color: rgba(0, 0, 0, 0.767);
	}

	&__title {
		margin-bottom: 30px;
		font-size: 30px;
	}

	&__fields-wrap {
		display: flex;
		flex-direction: column;
		// padding-right: 40px;
	}

	&__close-btn {
		position: absolute;
		right: 15px;
		top: 15px;
		width: 30px;
		height: 30px;

		&:hover {
			path {
				opacity: 0.6;
			}
		}

		svg {
			pointer-events: none;

			path {
				stroke: $dark-primary;
			}
		}
	}

	&__form {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 400px;
		padding: 60px 30px;
		background-color: $light-primary;
		border-radius: 10px;

		@media (max-width: 501px) {
			max-height: 100%;
			overflow-y: scroll;
			margin-bottom: auto;
			margin-top: 20px;
			max-width: 90%;
		}
	}

	&__input-wrap {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;

		&:last-of-type {
			margin-bottom: 30px;
		}

		b {
			margin-bottom: 5px;
		}
	}

	&__input {
		padding-left: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		border: none;
		border-radius: 5px;
		background-color: $light-secondary;
		color: $dark-secondary;

		&::placeholder {
			color: $dark-secondary;
		}

		&:focus {
			outline: 1px solid $light-primary;
		}
	}

	&__show-pass-wrap {
		display: flex;
		margin-top: 10px;

		input {
			margin-right: 5px;
		}
	}

	&__btns-wrap {
		display: flex;
		flex-direction: column;
	}

	&__registration-btn {
		text-align: center;
		text-decoration: underline;
	}

	&__success {
		span {
			font-size: 18px;
			text-decoration: underline;
			font-weight: 700;
		}
	}
}
