@import "../../variables";
@import "../../mixins";

.filters-page {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;

	@media (min-width: $desktop) {
		// display: flex;
		// flex-wrap: wrap;
		position: relative;
		max-width: 1400px;
		margin: 0 auto;
	}

	&__title {
		padding: 0;
		@media (min-width: $desktop) {
			// width: 100%;
		}
	}

	&__inner {
		display: grid;
		grid-template-columns: minmax(300px, 20%) 1fr;
		width: 100%;
		align-items: start;

		@media (max-width: $tablet) {
			display: block;
		}
	}

	&__filters-wrap {
		display: block;

		@media (max-width: $tablet) {
			display: none;
		}
	}

	&__items-wrap {
		display: grid;
		gap: 20px;
		align-items: start;
		grid-template-rows: auto auto;

		@media (max-width: $tablet) {
		}
	}

	&__sorting-by-wrap {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: start;
		align-items: center;
		max-width: min-content;

		svg {
			position: absolute;
			pointer-events: none;
			right: 0;
			height: 15px;
			path {
				fill: $dark-primary;
			}
		}
	}

	&__results-not-found {
		display: grid;
		justify-content: center;
		align-items: center;
		gap: 20px;
		font-size: 20px;
		font-weight: 700;
		color: $dark-secondary;
		margin: 0 auto;
		border-radius: 5px;
		margin-top: 100px;

		@media (max-width: $tablet) {
			margin-top: 50px;
		}

		.reset-filters-btn {
			@include btn-filled-accent;
			border: none;
		}
	}

	&__filters-btn-wrap {
		// position: fixed;
		position: sticky;
		display: grid;
		justify-content: center;
		left: 0;
		// bottom: 0;
		top: 0;
		background-color: $light-primary;
		// width: 100vw;
		padding: 5px;
		// z-index: 1000;
	}

	&__btn-show-filters {
		display: none;

		@media (max-width: $tablet) {
			// position: sticky;
			top: 10px;
			display: flex;
			gap: 5px;

			justify-content: center;
			align-items: center;

			color: $dark-secondary;

			svg {
				width: 20px;
				height: 20px;
				path {
					fill: $dark-secondary;
				}
			}
		}
	}

	&__mobile-settings {
		height: fit-content;
		@media (max-width: $tablet) {
			position: sticky;
			position: fixed;
			top: 0;
			left: 0;
			background-color: $light-primary;
			box-shadow: $shadow;
			padding-top: 5px;
			padding-bottom: 5px;
			display: flex;
			justify-content: center;
			gap: 20px;
			z-index: 10;
			width: 100vw;
		}
	}
}

.results-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, 300px);
	gap: 30px;

	@media (max-width: $tablet) {
		grid-template-columns: 100%;
		justify-content: center;
	}

	.item-card {
		background-color: $light-primary;
		box-shadow: $shadow;

		@media (max-width: $tablet) {
			display: grid;
			grid-template-areas:
				"title title"
				"img rating"
				"img price"
				"img price"
				"button button";
			grid-template-columns: auto 1fr;
			grid-template-rows: repeat(5, auto);
			max-width: 100%;
			padding: 20px 10px;
			gap: 20px;

			&__img-link {
				grid-area: img;
			}

			&__img {
				width: 80px;
				height: auto;
			}

			&__title-link {
				order: -1;
				grid-area: title;
				font-size: 16px;
			}

			&__title {
			}

			&__rating-link {
				grid-area: rating;
			}

			&__price {
				grid-area: price;
			}

			&__buttons {
				grid-area: button;
				max-width: 350px;
			}
		}
	}

	&__item {
		margin-bottom: 40px;

		&--not-available {
			// opacity: 0.3;
			h3,
			p,
			ul,
			img {
				opacity: 0.3;
			}
		}

		@media (min-width: $desktop) {
			box-shadow: $shadow;
			width: 300px;
			margin-right: 20px;
			margin-bottom: 20px;
			padding: 40px 20px;
			border-radius: 10px;
		}
	}
	&__link {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
	&__img {
		width: auto;
		height: 150px;
		background-color: $dark-secondary;
		margin-right: 20px;
	}

	&__title {
		margin-bottom: 10px;
	}
	&__footer {
		display: flex;
		flex-wrap: wrap;
	}
	&__rating {
		margin-right: 40px;
		display: flex;
		align-items: flex-start;

		@media (min-width: $desktop) {
			margin-bottom: 10px;
		}
	}

	&__reviews {
		text-decoration: underline;
	}

	&__price-wrap {
		width: 100%;
		margin-top: 10px;

		@media (min-width: $desktop) {
			margin-top: 20px;
		}
	}

	&__item-price {
		&--discount {
			position: relative;
			color: $neutral-primary;
			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 3px;
				margin-top: auto;
				margin-bottom: auto;
				background-color: $accent-primary;
				transform: rotate(10deg);
			}
		}
	}

	&__discount-price {
		font-size: 20px;
		margin-left: 10px;
	}
}

.features-list {
	&__item {
		margin-bottom: 5px;
		font-weight: 700;
		span {
			font-size: 12px;
			// text-decoration: underline;
			font-weight: 400;
		}
	}
}

.show {
	display: block;
}
