$dark-primary: rgb(46, 52, 64);
$dark-secondary: rgb(59, 66, 82);
$light-primary: rgb(255, 255, 255);
$light-secondary: rgb(236, 239, 244);
$neutral-primary: rgb(216, 222, 233);
$neutral-light: rgb(231, 236, 246);
// $accent-primary: rgb(96, 243, 108);
$accent-primary: rgb(142, 148, 242);
$accent-secondary: rgb(255, 175, 204);
$accent-light: rgb(216, 243, 220);

$success: #00f867;
$error: #ff0000;

$mobile: 320px;
$tablet: 768px;
$desktop: 1140px;

$shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
