@import "./../../../../variables";

.memory-select {
	&__memory-list {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		padding: 20px 0px;

		@media (max-width: $tablet) {
			gap: 10px;
			padding: 10px;
		}
	}

	&__memory-wrap {
		border: 2px solid $neutral-light;
		border-radius: 5px;
		font-weight: 700;

		&--active {
			border: 2px solid $accent-primary;
		}
	}

	&__memory-btn {
		padding: 10px 20px;

		@media (max-width: $tablet) {
			padding: 10px 15px;
		}
	}
}
